{{/* images resources */}}
{{ $emf_white_logo := resources.Get "img/emf_white_logo.svg" }}
{{ $creaf_white_logo := resources.Get "img/creaf_white_logo.svg" }}
{{ $envelope := resources.Get "img/envelope.svg" }}
<div class="site-footer d-flex align-items-end mt-5 g-0 p-0 bottom text-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-lg-3 g-3 p-5 m-0">
            {{/* logos col */}}
            <div class="col pb-5 pb-lg-0">
                <img src="{{ $emf_white_logo.RelPermalink }}" width="183px" class="d-inline-block" alt="" loading="lazy">
                <img src="{{ $creaf_white_logo.RelPermalink }}" width="232px" class="d-inline-block" alt="" loading="lazy">
            </div>
            {{/* what we do col */}}
            <div class="col">
                <h6 class="fw-bold ls-10 pb-3">WHAT WE DO</h6>
                <p class="pe-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur urna varius felis facilisis magna. Fames enim habitant nullam dolor dignissim ac mauris senectus. At amet et euismod in elementum convallis porttitor. Purus sit faucibus volutpat non tristique platea. Dignissim tellus sit nulla a. Enim, id hac non nunc tellus sed. Diam massa enim, tincidunt turpis tellus, pellentesque. Et eros eu convallis sed nullam. Orci nullam risus mauris, turpis blandit convallis eu risus, facilisis. Morbi in nisl et sed.
                </p>
            </div>
            {{/* contact col */}}
            <div class="col">
                <h6 class="fw-bold ls-10 pb-3">CONTACT</h6>
                <p class="mb-0">Campus de Bellaterra (UAB) Edifici C</p>
                <p>08193 Cerdanyola del Vallès</p>
                <img src="{{ $envelope.RelPermalink }}" width="15px" height="15px" class="d-inline-block" alt="" loading="lazy"><span class="ms-2"><a class="text-decoration-none text-light" href="mailto:emf@creaf.uab.cat" target="_blank">emf@creaf.uab.cat</a></span>
            </div>
        </div>
    </div>
</div>