{{ define "main" }}

{{ $sigma := resources.Get "img/sigma.svg" }}
{{ $models := resources.Get "img/particles_models.svg" }}
{{ $workflows := resources.Get "img/particles_workflows.svg" }}
{{ $data := resources.Get "img/particles_data.svg" }}
{{ $particles := resources.Get "js/particles.js" | js.Build (dict "params" (dict "sigma" $sigma.RelPermalink)) }}
<div class="container-fluid g-0" id="container-particles">
    <div id="tsparticles"></div>
    <script src="{{ $particles.RelPermalink }}"></script>
</div>

<div class="container-fluid p-5 my-5">
    <p class="mx-auto w-50 text-center" id="emf-home-short-description">
        The Ecosystem Modelling Facility (EMF) is a small unit within CREAF specifically devoted to modelling activities, with special focus on the response of ecosystems to global change. EMF aims at becoming a meeting point for people (from CREAF and beyond) interested in developing or applying models to predict the response of terrestrial ecosystems to drivers of global change, both for research or knowledge transfer purposes.
    </p>
</div>

{{/* Featurettes */}}
{{ partial "index_featurettes.html" .}}

{{/* Latest news */}}
{{ partial "index_news.html" .}}

{{ end }}