{{ define "main" }}
<div class="container-fluid g-0" id="about_header">
    <div class="text-about d-flex align-items-center justify-content-center">
        <h1 class="fw-bold ls-10 mb-0 text-light">{{upper .Title }}</h1>
    </div>
</div>

<div class="container-fluid p-5 my-5">
    <p class="mx-auto w-50 text-center" id="emf-home-short-description">
        The Ecosystem Modelling Facility (EMF) is a small unit within CREAF specifically devoted to modelling activities, with special focus on the response of ecosystems to global change. EMF aims at becoming a meeting point for people (from CREAF and beyond) interested in developing or applying models to predict the response of terrestrial ecosystems to drivers of global change, both for research or knowledge transfer purposes.
    </p>
    <h3 class="mx-auto w-50 text-center">What do we do?</h5>
    <ul class="mx-auto w-50 text-left text-muted short_description_list">
        <li>
            Provide training and technical support for modelling activities to research groups at CREAF.
        </li>
        <li>
            Develop and promote the use of process-based and empirical models aimed at predicting the response of terrestrial ecosystems to global change at multiple scales from the forest stand to the region.
        </li>
        <li>
            Facilitate discovery of data sets or models relevant for ecosystem modelling activities.
        </li>
        <li>
            Develop tools aimed at facilitating the interoperability between data sources and models, and between different models.
        </li>
        <li>
            Develop and maintain interactive web applications for ecosystem data exploration and visualization.
        </li>
    </ul>
</div>

<div class="container-fluid py-5" id="emf-about-authors">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
              <h1 class="display-6 text-center emf-blue fw-bold ls-10">WHO ARE WE?</h1>
            </div>  
        </div>
        <div class="row mb-3 px-5">
        {{ range .Site.Data.authors }}
        {{ if .core }}
            {{ partial "author_info.html" (dict "author" . "type" "about") }}
        {{ end }}
        {{ end }}
        </div>
    </div>
</div>
{{ end }}