{{ define "main" }}

{{ $type := .Type }}
{{ $type_data := index .Site.Data.page_types_data $type }}
{{ $icon := index .Site.Data.resources_icons $type }}

<div class="container-fluid g-0" id="about_header">
    <div class="text-about d-flex align-items-center justify-content-center text-light" style="height: 200px;">
        <span><h1 class="fw-bold ls-10 mb-0">{{ upper .Title }}</h1></span>
        {{ if $icon }}
            {{ partial "svgs/icons_defs.svg" (dict "type" $icon.type "margin_class" "me-2 mb-5" "icon_class" "header_icon" "stroke_width" "3") }}
        {{ end }}
    </div>
</div>

<div class="container-fluid p-5 my-5">
    <p class="mx-auto w-50 text-center" id="emf-home-short-description">
        The Ecosystem Modelling Facility (EMF) is a small unit within CREAF specifically devoted to modelling activities, with special focus on the response of ecosystems to global change. EMF aims at becoming a meeting point for people (from CREAF and beyond) interested in developing or applying models to predict the response of terrestrial ecosystems to drivers of global change.
    </p>
    <p class="mx-auto w-50 text-center" id="emf-home-short-description">
        Besides its support to other CREAF groups, the EMF focuses its own work in two complementary areas: research and knowledge transfer. On the research side, we focus our activity in improving the state of the art of process based modelling of functioning and dynamics of terrestrial ecosystems at local to regional scales, with a special interest in Mediterranean forest ecosystems. On the knowledge transfer side, the EMF leads and participates in several contracts and agreements with different administrations, NGOs or other entities, providing them with tools (including online applications and offline tools), data and advice for decision making.
    </p>
    <h3 class="mx-auto w-50 text-center">What do we do?</h3>
    <ul class="mx-auto w-50 text-left text-muted short_description_list">
        <li>
            Research in process based modelling of terrestrial ecosystems
        </li>
        <li>
            Provide training and technical support for modelling activities to research groups at CREAF.
        </li>
        <li>
            Develop and promote the use of process-based and empirical models aimed at predicting the response of terrestrial ecosystems to global change at multiple scales from the forest stand to the region.
        </li>
        <li>
            Facilitate discovery of data sets or models relevant for ecosystem modelling activities.
        </li>
        <li>
            Develop tools aimed at facilitating the interoperability between data sources and models, and between different models.
        </li>
        <li>
            Develop and maintain interactive web applications for ecosystem data exploration and visualization.
        </li>
    </ul>
</div>

<div class="container-fluid py-5" id="emf-about-authors">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
              <h2 class="display-6 text-center emf-blue fw-bold ls-10">EMF CORE</h2>
            </div>  
        </div>
        <div class="row row-cols-md-2 row-cols-xl-4 mb-3 px-5">
        {{ range sort .Site.Data.authors "weight" }}
        {{ if .core }}
            {{ partial "author_info.html" (dict "author" . "type" "about") }}
        {{ end }}
        {{ end }}
        </div>
    </div>
</div>

<div class="container-fluid p-5 my-5" id="emf-committee">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <h2 class="display-6 text-center emf-blue fw-bold ls-10">EMF STEERING COMMITTEE</h2>
            </div>  
        </div>
        <div class="row row-cols-md-3 row-cols-xl-6 mb-3 px-5">
        {{ range sort .Site.Data.authors "weight" }}
        {{ if not .core }}
        {{ if .committee }}
            {{ partial "author_info.html" (dict "author" . "type" "about") }}
        {{ end }}
        {{ end }}
        {{ end }}
        </div>
    </div>    
</div>

<div class="container-fluid p-5 my-5" id="emf-spheres">
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <h2 class="display-6 text-center emf-blue fw-bold ls-10">EMF SPHERES</h2>
                <h3 class="mx-auto w-50 text-center emf-blue fw-bold ls-10">In active collaboration</h3>
            </div>  
        </div>
        <div class="row row-cols-md-3 row-cols-xl-6 mb-3 px-5">
        {{ range sort .Site.Data.authors "weight" }}
        {{ if not .core }}
        {{ if not .commitee }}
        {{ if .sphere }}
            {{ partial "author_info.html" (dict "author" . "type" "about") }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        </div>
    </div>    
</div>
{{ end }}